.create-box {
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-section {
  height: 80%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 9999;
  color: white;
}
