// @import "../utils/util.scss";

.note-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 150px;
  width: 130px;
  background: white;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 7px;
  word-break: break-all;
  overflow: hidden;
  margin: 10px;
  position: relative;

  &:hover {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.2s;
    .actions {
      opacity: 1;
    }
  }

  .actions {
    opacity: 0;
    transition: opacity 0.5s ease;
    display: flex;
    justify-content: space-between;
  }
}
