.notes-grid {
  display: flex;
  flex-wrap: wrap;
}

.note-card-appear {
  opacity: 0;
}

.note-card-enter-done {
  opacity: 1;
  transition: opacity 0.3s;
}

.note-card-exit {
  opacity: 1;
}
.note-card-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}
