@import "../utils/util.scss";

.sidebar {
  height: 100vh;
  /* background-color: blue; */
  margin-right: 20px;
  border-radius: 5px;
}
.sidebar-appear {
  opacity: 0;
}

.sidebar-enter-done {
  opacity: 1;
  transition: opacity 0.3s;
}

.sidebar-exit {
  opacity: 1;
}
.sidebar-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

.items {
  padding: 15px;
  border-radius: 0px 15px 15px 0px;
}
.items:hover {
  background-color: #f1f3f4;
  cursor: pointer;
}
