@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
body {
  margin: 0;
  font-family: "Roboto Mono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  input {
    font-family: "Montserrat", sans-serif;
    border: 0px solid;
    border-radius: 4px;
    padding: 5px;
    box-shadow: none;
  }

  textarea {
    border: 0px solid;
    border-radius: 4px;
    box-shadow: none;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  color: #494949;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  padding: 5px;
  border: 2px solid #494949;
  display: inline-block;
  transition: all 0.4s ease 0s;
  border-radius: 2px;
  cursor: pointer;
  &:hover {
    color: #ffffff;
    background: black;
    border-color: black;
    transition: all 0.4s ease 0s;
  }
}
